<tr>
  <td>
<%=render_job_status(job)%>
  <%=link_to(job.title,job_path(job))%></td>
 <td><%=job.description%></td>
  <td><%=job.up_bound%></td>
  <td><%=job.dw_bound%></td>
  <td>
    <%=link_to("edit",edit_admin_job_path(job))%>|
    <%=link_to("delete",admin_job_path(job), :method => :delete, :data => {:confirm => "are you sure?"})%>
  </td>

  <td><%=job.created_at%></td>
  <tr>
